
.create-new-project-menu {
    background-color: var(--clr-primary);
    margin-left: auto;
    color: var(--clr-dark);
    border-radius: 0.5rem;
}

.create-new-project-menu:hover {
    background: var(--clr-accent);
}
