.project-container {
  margin: auto;
  position: relative;
  width: calc(100% - 1rem);
  height: calc(100% - 2rem);
  border: 0.1rem solid var(--clr-grey);
}

.project-canvas {
  image-rendering: optimizeSpeed;
}
